@import "./mixins.scss";

$black: #000000;
$white: #ffffff;
$yellow: #bd9400;
$darkGreen: #26810c;
$darkRed: #550808;

$base-padding: 24px;
$radius: 5px;
$base-size: 1em;
$transition: all 0.3s;
$transition-long: all 0.8s;

$font-title: "Chalk", sans-serif;
$text-color: $white;
