@import "../../../styles/settings.scss";

.root {
  @include flex(column, center, space-around);
  // height: 50vh;
  width: 90%;
  border: 50px white solid;
  border-image: url("/images/border.svg") 100;
  .formInput {
    margin: 1rem;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    background: none;
    border: none;
    // width: ;
    height: 1.4375em;
    outline: none;
    &:after {
      position: absolute;
      transition: 0.2s;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 2px;
      background: #0c97a6;
    }
    &:focus {
      cursor: pointer;
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
  .formSlider {
    width: 100%;
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
